PORT=3000
HASH_SALT=10

# db
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app_db

# jwt
SECRET_TOKEN=secret_token
SECRET_EXPIRES_IN=1h
REFRESH_TOKEN=refresh_token
REFRESH_EXPIRES_IN=7d